html {
    background-color: var(--evergreen-green);
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-family: 'Mountains of Christmas', serif;
    color: var(--snowy-white);
    text-align: center;
}


:root {
    --classic-red: rgba(255, 0, 0, 1);
    --evergreen-green: rgba(1, 50, 32, 1);
    --snowy-white: rgba(255, 255, 255, 1);
    --gold: rgba(255, 215, 0, 1);
    --midnight-blue: rgba(0, 0, 139, 1);
}


body {
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "timer"
        "question"
        "main"
        "button";
    grid-template-rows: 50px 0.3fr 0.2fr 0.2fr max-content 0.1fr;
    grid-template-columns: 1fr;
    row-gap: 3%;
    justify-items: center;
    align-content: center;
    min-height: 95vh;

}

.time-text {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: var(--classic-red);
    border-color: var(--snowy-white);
    border-style: dashed;
    border-width: 3px;
    grid-area: header;
    width: 90%;
    font-size: 22px;
    font-weight: 700;
}

#timer {
    background-color: var(--gold);
    border-color: var(--snowy-white);
    border-style: dashed;
    border-width: 3px;
    grid-area: timer;
    width: 70%;
    font-size: 22px;
    font-weight: 700;
    line-height: 5%;
    align-self: center;
}

#question {
    /* color: var(--classic-red); */
    grid-area: question;
    width: 100%;
    font-size: 22px;
    font-weight: 700;
}

main {
    border-color: var(--snowy-white);
    border-style: dashed;
    border-width: 3px;
    grid-area: main;
    grid-column: 1 / 4;
    width: 70%;
    font-size: 22px;
    font-weight: 700;
}

button {
    color: var(--snowy-white);
    background-color: var(--classic-red);
    border-color: var(--snowy-white);
    border-style: dashed;
    border-width: 3px;
    grid-area: button;
    width: 70%;
    font-size: 22px;
    font-weight: 700;
    align-self: center;
}
/* 
#button {
    background-color: var(--classic-red);
    border-style: none;
    border-color: none;
} */