/* Sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
html {
    background-color: var(--evergreen-green);
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-family: 'Mountains of Christmas', serif;
    color: var(--snowy-white);
    text-align: center;
}

/* Color variables and Standard Units*/
:root {
    --classic-red: rgba(255, 0, 0, 1);
    --evergreen-green: rgba(1, 50, 32, 1);
    --snowy-white: rgba(255, 255, 255, 1);
    --gold: rgba(255, 215, 0, 1);
    --midnight-blue: rgba(0, 0, 139, 1);
    --selection-white: rgba(255,255,255,0.3);
    --component-width: 80%;
}

/* Grid template https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas */
body {
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "timer"
        "question"
        "main"
        "button";
    grid-template-rows: minmax(0, 1fr) 1fr 1fr 3fr max-content 1fr;
    grid-template-columns: 1fr;
    /* Give everything a little space between rows */
    row-gap: 3%;
    /* Make everything centered on X and Y axis */
    align-items: center;
    justify-items: center;
    height: 90vh;
    /* min-height: 90%; */
}

body.results {
    grid-template-areas:
    "nav"
    "header"
    "timer"
    "main"
    "question";
    grid-template-rows: 1fr repeat(2, min-content) 1fr max-content;
}

body.game {
    grid-template-areas:
    "nav"
    "header"
    "timer"
    "main"
    "button";
    /* grid-template-rows: min-content repeat(2, 1fr) 3fr min-content; */
    grid-template-rows: min-content repeat(2, 1fr) 500px min-content;
    grid-template-columns: 1fr;
}

.questions {
    display: grid;
    align-items: center;
    height: 100%;
}


#timer {
    color: var(--evergreen-green);
}

/* Make timer look more digital clock styled */
.time-text {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    width: 90%;
    grid-area: nav;
    align-self: center;
}

header {
    background-color: var(--classic-red);
    border-color: var(--snowy-white);
    /* Candy cane style border with dashed property */
    border-style: dashed;
    border-width: 3px;
    /* Apply header to correct area in Grid layout */
    grid-area: header;
    width: var(--component-width);
    font-size: 22px;
    font-weight: 700;
}

#timer {
    background-color: var(--gold);
    border-color: var(--snowy-white);
    border-style: dashed;
    border-width: 3px;
    /* Apply timer to correct area in Grid layout */
    grid-area: timer;
    width: var(--component-width);
    font-weight: 700;
    align-self: center;
}

.blur-10 {
    filter: blur(10px);
}

.disable {
    /* https://stackoverflow.com/questions/16805684/javascript-disable-text-select */
    user-select: none;
    /* https://stackoverflow.com/questions/40147856/disable-click-event-on-all-controls-using-javascript */
    pointer-events: none;
}

#house-rules-modal {
    background-color: var(--midnight-blue);
    border: var(--snowy-white) dashed 3px;
    z-index: 2;
    display: none;
    width: 90%;
    grid-area: timer / 1 / question / 1;
    align-self: center;
    justify-self: center;
    font-size: 50px;
    padding-bottom: 50px;
}

#house-rules-modal ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    width: var(--component-width);
}

#question {
    /* color: var(--classic-red); */
    /* Apply question to correct area in Grid layout */
    grid-area: question;
    align-self: center;
    border-color: var(--snowy-white);
    border-style: dashed;
    border-width: 3px;
    width: 80%;
    font-size: 22px;
}

#name {
    width: var(--component-width);
}

main {
    border-color: var(--snowy-white);
    border-style: dashed;
    border-width: 3px;
    grid-area: main;
    width: var(--component-width);
    font-size: 22px;
    font-weight: 700;
}

main:not(.questions) {
    background-color: var(--midnight-blue);
}

button:hover {
    filter: brightness(150%);
}

button {
    color: var(--snowy-white);
    background-color: var(--classic-red);
    border-color: var(--snowy-white);
    border-style: dashed;
    border-width: 3px;
    grid-area: button;
    width: var(--component-width);
    /* Specify font again because it wasn't cascading */
    font-family: 'Mountains of Christmas', serif;
    font-size: 22px;
    font-weight: 700;
    align-self: center;
}

.selected {
    color: var(--classic-red);
}
.avatar-selector > ul{
    font-size: 3ch;
    list-style: none;
    /* https://stackoverflow.com/questions/9620594/removing-ul-indentation-with-css */
    padding-left: 0;
}
.selected-avatar {
    background-color: var(--selection-white);
}
.chosen-avatar {
    line-height: 0%;
    font-size: 5ch;
}

.category-image {
    height: auto;
    width: var(--component-width);
    border-style: dashed;
}

